{% extends 'app/base.html' %} 
{% block content %}

<div class="col-12 row justify-content-center">
     <h2 class="text-center">Faça seu login</h2>
     <form method="post" class="shadow p-4 col-10 col-lg-6">
          {% csrf_token %}

          {% if form.errors %}
                {% for field, errors in form.errors.items %}
                <div class="alert alert-danger">
                      {%for error in errors%}
                            <span class="form-erro">- {{ error }}</span></br>
                      {% endfor %}
                </div>
                {% endfor %}
          {% endif %}

          <div class="mb-3">
               <label for="cadastro_user_login" class="form-label">Login:</label>
               {{ form.login }}
          </div>

          <div class="mb-3">
               <label for="cadastro_user_password" class="form-label">Senha:</label>
               {{ form.password }}
          </div>

          <button type="submit" class="form-control btn btn-primary mb-3">Entrar</button>
          <span> <a href="{% url 'reset_password' %}">Esqueci minha senha</a></span>
     </form>
</div>

{% endblock %}