{% extends 'app/base.html' %} {% block content %}

<div class="col-12 row justify-content-center">
     {% if user.is_authenticated %}
          <h2 class="text-center">
               Digite seu email para redefinir sua senha
          </h2>
     {% else %}
          <h2 class="text-center">
               Esqueceu sua senha? Digite o email cadastrado para redefinir sua senha
          </h2>
     {% endif %}

     <form class="shadow p-4 col-10 col-lg-6" method="post">
          {% csrf_token %}

            {% if form.errors %}
                  {% for field, errors in form.errors.items %}
                  <div class="alert alert-danger">
                        {%for error in errors%}
                              <span class="form-erro">- {{ error }}</span></br>
                        {% endfor %}
                  </div>
                  {% endfor %}
            {% endif %}

            <div class="mb-3">{{ form.email }}</div>

            <button type="submit" class="form-control btn btn-success">Enviar</button>

     </form>
</div>

{% endblock %}