{% load static %}

<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
      <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
            <link href="{% static 'css/style.css' %}" type="text/css" media="all" rel="stylesheet" />
            <title>Tarefado</title>
            <link rel="icon" href="{% static 'img/icon.ico' %}" type="image/x-icon" />
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
            <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
            <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pt.js"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
      </head>
      <body>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                  <div class="container-fluid">
                        <a class="navbar-brand ms-lg-4" href="{% url 'index' %}">Tarefado</a>
                        <button
                              class="navbar-toggler"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#navbarNav"
                              aria-controls="navbarNav"
                              aria-expanded="false"
                              aria-label="Toggle navigation"
                        >
                              <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                              <ul class="navbar-nav me-lg-4">
                                    <li class="nav-item">
                                          <a class="nav-link" aria-current="page" href="{% url 'materias' %}">Matérias</a>
                                    </li>
                                    <li class="nav-item">
                                          <a class="nav-link" href="{% url 'tarefas' %}">Tarefas</a>
                                    </li>
                                    <li class="nav-item me-4">
                                          <a class="nav-link" href="{% url 'agenda' %}">Agenda</a>
                                    </li>
                              </ul>
                              {% if user.is_authenticated %}
                              <ul class="navbar-nav me-lg-4 ms-lg-auto">
                                    <li class="nav-item">
                                          <a class="nav-link" aria-current="page" href="{% url 'reset_password' %}">Alterar senha</a>
                                    </li>
                                    <li class="nav-item">
                                          <a class="nav-link" aria-current="page" href="{% url 'logout_view' %}">Sair</a>
                                    </li>
                              </ul>
                              {% else %}
                              <ul class="navbar-nav me-lg-4 ms-lg-auto">
                                    <li class="nav-item">
                                          <a class="nav-link" aria-current="page" href="{% url 'login_view' %}">Entrar</a>
                                    </li>
                                    <li class="nav-item">
                                          <a class="nav-link" aria-current="page" href="{% url 'register_user' %}">Registrar</a>
                                    </li>
                              </ul>
                              {% endif %}
                        </div>
                  </div>
            </nav>
            <div class="container">
                  <div class="mt-lg-4 mb-lg-1">{%block header %}{%endblock header %}</div>
                  <div class="container p-2">{% block content %}{% endblock %}</div>
            </div>
            <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                        <div class="modal-content">
                              <div class="modal-header">
                                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar exclusão</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">Você tem certeza que deseja excluir este item?</div>
                              <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <form id="deleteForm" method="post" style="display: inline">
                                          {% csrf_token %}
                                          <button type="submit" class="btn btn-danger">Excluir</button>
                                    </form>
                              </div>
                        </div>
                  </div>
            </div>

            <!-- JS para a caixa de confirmação de exclusão -->
            <script>
                  document.addEventListener("DOMContentLoaded", function () {
                        const deleteForm = document.getElementById("deleteForm");
                        document.querySelectorAll('[data-bs-toggle="delete"]').forEach((button) => {
                              button.addEventListener("click", function (e) {
                                    e.preventDefault();
                                    const deleteUrl = this.getAttribute("data-url");
                                    deleteForm.action = deleteUrl;
                                    const modal = new bootstrap.Modal(document.getElementById("confirmDeleteModal"));
                                    modal.show();
                              });
                        });
                  });
            </script>

            <!-- JS para a data de entrega das tarefas da agenda -->
            <script>
                  document.addEventListener("DOMContentLoaded", function () {
                        flatpickr("#id_data_entrega", {
                              dateFormat: "d/m/Y",
                              locale: "pt",
                        });
                  });
            </script>
      </body>
</html>
