{% extends 'app/base.html' %}{% block header %}
<div class="text-center">
      <h1>Acompanhe sua bagunça semestral</h1>
</div>
{% endblock header %} {% block content %}{% if user.is_authenticated %}
<div style="margin-bottom: 50px">
      <h2>
            Menos foco, mais ansiedade. A procrastinação te trouxe até aqui, que tal fingir que vai organizar sua rotina? Seu semestre não vai se sabotar sozinho, bora abrir suas
            <a href="{% url 'materias' %}">matérias</a>
            ou as
            <a href="#">tarefas</a>?
      </h2>
</div>
{% else %}
<h2>
      <a href="{% url 'register_user' %}">Crie uma conta</a>
      ou
      <a href="{% url 'login_view' %}">faça login</a>
      para utilizar o Tarefado!
</h2>

<h2>Menos disciplina, mais caos. Sua agenda já está esperando para ser ignorada!</h2>

{% endif %} {% endblock content %}
