{% extends 'app/base.html' %} {% block header %}
<div class="mb-lg-3">
      <h1>Matérias:</h1>
</div>
{% endblock header %} {% block content %}
<ul>
      {% for materia in materias %}
      <li>
            <h3 class="mb-lg-4">
                  <a href="{% url 'materia' materia.id %}">{{ materia }}</a>
            </h3>
      </li>
      {% empty %}
      <h4 class="mb-lg-4">Não há matérias adicionadas!</h4>
      {% endfor %}
</ul>
<h3>
      <a href="{% url 'nova_materia' %}">Nova matéria</a>
</h3>

{% endblock content %}
